@import 'src/styles/_variables.scss';

.feedbacksContainer {
  margin: 24px 0;
  max-width: $lg;
}

.addFeedbackButton {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}
