@import '../../styles/variables';

.kFile {
  display: none;
}

.kFileLabel {
  margin: 16px 0;
  font-size: 1em;
  color: $primary-color;
  border: 1px solid $primary-color;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $hover-color;
    color: white;
  }
}
